<div ng-controller="ExportPredifinedFormatCtrl">
    <!--<div layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="getFile('#ExportTable');">Download</md-button>
    </div>
    <table id="ExportTable">
        <tbody>
            <tr ng-repeat="i in  data">
                <td>{{i.Identification}}</td>
                <td>{{i.Date}}</td>
                <td>{{i.Time}}</td>
                <td>{{i.Type}}</td>
                <td>{{i.Pos}}</td>
                <td>{{i.Identification}}{{i.Date}}{{i.Time}}{{i.Type}}{{i.Pos}}</td>
            </tr>
        </tbody>
    style="visibility:hidden;"
    </table>-->
</div>
<script type="text/ng-template" id="payrole-table-template">

</script>

