<div>
    <div class="modal-header">
        <h3 class="modal-title">Delete Row</h3>
    </div>
    <div class="modal-body">
        <strong>Current Register is going to delete permanently. Are you sure?</strong>
        <br />
    </div>
    <div class="modal-footer">
        <button class="hvr-fade hvr-warning" style="text-decoration:none; height: inherit;" ng-click="$close()">Cancel</button>
        <button class="hvr-fade hvr-danger" style="text-decoration:none; height: inherit;" ng-click="vm.deleteConf()">Delete</button>
    </div>
</div>
