<div layout="column" layout-align="center center" class="md-padding">
    <div layout="column" layout-align="center center" flex="50" class="md-padding md-margin">
        <h1 style="font-size:70px;">Error 404</h1>
        <br />
        <strong>This Page does not exist.</strong>
        <small>*navigate through menu or return home.</small>
        <br />
        <md-button class="md-raised md-primary md-icon-button" ui-sref="dashboard.home">
            <md-icon md-menu-origin md-svg-icon="action:home"></md-icon>
            <md-tooltip md-direction="top">Return home</md-tooltip>
        </md-button>
    </div>
</div>