
<div ng-controller="managedaopeninghourscompCTRL as OpenHoursMain" ng-init="OpenHoursMain.initView()" layout-fill layout="column" layout-align="start stretch">
    <div flex="15" class="md-padding">
        <md-subheader class="wrappers-view-header md-whiteframe-7dp md-primary">Manage Opening Hours</md-subheader>
        <md-button aria-label="addDataRow" id="addData" class="md-raised" style="line-height: 32px; min-height: 32px; background-color:lightblue;" align="right" ng-disabled="savingProcess" ng-click="SaveOpeningHoursForStore()">Save &nbsp;<i class="fa fa-save fa-fw"></i> </md-button>
        <md-button aria-label="addDataRow" id="addData" class="md-raised" style="line-height: 32px; min-height: 32px; background-color:lightblue;" align="right" ng-disabled="savingProcess" ng-click="SaveForAllStores()">Save for All Stores &nbsp;<i class="fa fa-save fa-fw"></i> </md-button>
    </div>
        <div flex="5" layout="row" layout-align="start stretch">
            <div flex="20" align="center">
                <md-list style="border:2px solid black; border-radius:1%;background-color:rgb(63,81,181);">
                    <h3 style="background-color:rgb(63,81,181);color:white;">Please Select a Store</h3>
                    <md-list-item class="md-whiteframe-4dp" ng-repeat="row in OpenHoursMain.stores |orderBy: 'StoreDescr' | filter: searchText" style="cursor:pointer;margin-bottom:1px; background-color:white;border:2px solid black; border-radius:3%;">
                        <div class="md-list-item-text" layout="column" layout-align="start stretch" flex="grow">
                            <div layout="row" layout-align="right" align="start">
                                <span class="cell-style" flex="100"  ng-click="viewStoreOpeningsHours(row)" > #{{row.Value}}<md-tooltip   style="cursor:pointer !important;" md-direction="top">{{row.Key}}</md-tooltip></span>
                            </div>
                        </div>
                </md-list>
            </div>
            <div flex="60">
                <div align="right" flex="100" style="border:1px solid black; background-color: rgb(63,81,181);">
                    <div layout="row" layout-align="start center"  style="font-variant:small-caps; margin-bottom:10px;" align="center">
                        <strong style="color:white;" flex="14">StoreId</strong>
                        <strong style="color:white;" flex="12">Weekday</strong>
                        <strong style="color:white;" flex="14">OpenHour </strong>
                        <strong style="color:white;" flex="14">OpenMinute</strong>
                        <strong style="color:white;" flex="14">CloseHour</strong>
                        <strong style="color:white;" flex="14">CloseMinute</strong>
                    </div>
                    <md-list flex="grow">
                        <md-list-item class="md-whiteframe-4dp" ng-repeat="row in  OpenHoursMain.selectedopeninghours | filter:  searchText" style="margin-bottom:10px; background-color:white;">
                            <div class="md-list-item-text" layout="column" layout-align="start stretch" flex="grow">
                                <div layout="row" layout-align="right" align="center">
                                    <span class="cell-style" flex="14">{{row.StoreId}}<md-tooltip md-direction="top">{{row.StoreId}}</md-tooltip></span>
                                    <span ng-if="row.Weekday==0" class="cell-style" flex="14">Sunday<md-tooltip md-direction="top">{{row.Weekday}}</md-tooltip></span>
                                    <span ng-if="row.Weekday==1" class="cell-style" flex="14">Monday<md-tooltip md-direction="top">{{row.Weekday}}</md-tooltip></span>
                                    <span ng-if="row.Weekday==2" class="cell-style" flex="14">Tuesday<md-tooltip md-direction="top">{{row.Weekday}}</md-tooltip></span>
                                    <span ng-if="row.Weekday==3" class="cell-style" flex="14">Wednesday<md-tooltip md-direction="top">{{row.Weekday}}</md-tooltip></span>
                                    <span ng-if="row.Weekday==4" class="cell-style" flex="14">Thursday<md-tooltip md-direction="top">{{row.Weekday}}</md-tooltip></span>
                                    <span ng-if="row.Weekday==5" class="cell-style" flex="14">Friday<md-tooltip md-direction="top">{{row.Weekday}}</md-tooltip></span>
                                    <span ng-if="row.Weekday==6" class="cell-style" flex="14">Saturday<md-tooltip md-direction="top">{{row.Weekday}}</md-tooltip></span>

                                    <input ng-model="openhourvalue" ng-change="setvalues(row,openhourvalue,'OpenHour')" type="number" min="0" max="23" flex="12" name="name" value={{row.OpenHour}} />
                                    :
                                    <input type="number" ng-model="openminutevalue" ng-change="setvalues(row,openminutevalue,'OpenMinute')" min="0" max="59" flex="12" name="name" value={{row.OpenMinute}} />
                                    :
                                    <input type="number" ng-model="closehourvalue" ng-change="setvalues(row,closehourvalue,'CloseHour')"  min="0" max="23" flex="12" name="name" value={{row.CloseHour}} />
                                    :
                                    <input type="number" ng-model="closeminutevalue" ng-change="setvalues(row,closeminutevalue,'CloseMinute')"  min="0" max="59" flex="12" name="name" value={{row.CloseMinute}} />
                                </div>
                            </div>
                    </md-list>
                </div>
            </div>
        </div>
    </div>
    <script id="header-list" type="text/ng-template">
        <md-list flex="grow">
            <md-list-item class="md-whiteframe-4dp" ng-repeat="row in ShortMain.shortages |orderBy: 'StoreDescr' | filter: searchText" style="margin-bottom:10px; background-color:white;">
                <div class="md-list-item-text" layout="column" layout-align="start stretch" flex="grow">
                    <div layout="row" layout-align="right" align="center">
                        <span class="cell-style" flex="20">{{row.ProductDescr}}<md-tooltip md-direction="top">{{row.ProductDescr}}</md-tooltip></span>
                        <span class="cell-style" flex="20">{{row.StoreDescr}}<md-tooltip md-direction="top">{{row.StoreDescr}}</md-tooltip></span>
                        <span class="cell-style" flex="20">{{row.ShortType}}<md-tooltip md-direction="top">{{row.ShortType}}</md-tooltip></span>
                        <span class="cell-style" flex="20" ng-click="viewHeaderDetails(row)" style="cursor:pointer;"> #{{row.Id}}<md-tooltip md-direction="top">{{row.Id}}</md-tooltip></span>

                        <span flex="20" align="left">
                            <md-button class=" md-fab md-mini" ng-disabled="processingUser" ng-click='removeShortage(row)'><i class="fa fa-trash fa-fw"></i>  <md-tooltip md-direction="top">Delete selected Shortage</md-tooltip></md-button>
                        </span>
                    </div>
                </div>
        </md-list>
    </script>
    <style>
        .cell-style {
            overflow: hidden;
            padding: 4px;
            text-overflow: ellipsis;
        }

        .selected-whiteframe {
            box-shadow: 0px 5px 5px -3px rgba(63, 81, 181, 0.2), 0px 8px 10px 1px rgba(63, 81, 181, 0.14), 0px 3px 14px 2px rgba(63, 81, 181, 0.12);
            border-left: 4px solid #3f51b5;
        }
    </style>
    <style>
        .btn {
            background-color: #4165f4; /*navy blue*/
            border: none;
            color: white;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 22px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 90%;
        }

        .editbtn {
            background-color: #4165f4; /*navy blue*/
            border: none;
            color: white;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 22px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 90%;
        }

        .RedCross {
            background-color: #ff0000; /*red*/
            border: none;
            color: white;
            padding: 6px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 10px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 90%;
        }

        .cell-style {
            overflow: hidden;
            padding: 4px;
            text-overflow: ellipsis;
        }

        .selected-whiteframe {
            box-shadow: 0px 5px 5px -3px rgba(63, 81, 181, 0.2), 0px 8px 10px 1px rgba(63, 81, 181, 0.14), 0px 3px 14px 2px rgba(63, 81, 181, 0.12);
            border-left: 4px solid #3f51b5;
        }
    </style>
