
<div ng-controller="VodafonepromosCompCTRL as VodMain" ng-init="VodMain.initView()" layout-fill layout="column" layout-align="start stretch">
    <div flex="10">
        <md-subheader class="wrappers-view-header md-whiteframe-7dp md-primary">Manage Vodafone11 Headers</md-subheader>
    </div>
    <div flex="10" layout="row">
        <div flex="30">
            <div>
                <md-button class="md-fab md-mini md-warn"> <i class="fa fa-search"></i>  </md-button>
                <input placeholder="Search Header" type="text" ng-model="searchText" class="md-fab md-mini md-warn" />
            </div>
        </div>
        <div flex="40">
            <h3 align="center"> <i>Available Vodafone Promos </i> </h3>
        </div>
        <div flex="30">
            <div align="right" flex="70">
                <md-button aria-label="addDataRow" id="addData" class="md-raised" style="line-height: 32px; min-height: 32px; background-color:lightblue;" align="right" ng-disabled="savingProcess" ng-click="addHeader($event ,'HeaderDetailsPromos',row,'add')">Add&nbsp;<i class="fa fa-plus-circle fa-fw"></i> </md-button>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="start center" class="md-padding" style="font-variant:small-caps;">
        <strong flex="20">Description</strong>
        <strong flex="20">FromItems</strong>
        <strong flex="20">RemoveItems</strong>
        <strong flex="20" align="center">Edit</strong>
        <strong flex="20" align="center">Delete</strong>
    </div>
    <md-divider></md-divider>
    <div ng-include src="'header-list'" ng-if=" VodMain.promos.length > 0"></div>
</div>

<script id="header-list" type="text/ng-template">
    <md-list flex="grow">
        <md-list-item class="md-whiteframe-4dp" ng-repeat="row in VodMain.promos |filter: searchText" style="margin-bottom:10px; background-color:white;">
            <div class="md-list-item-text" layout="column" layout-align="start stretch" flex="grow">
                <div layout="row" layout-align="start center">
                    <span class="cell-style" flex="20" ng-click="viewHeaderDetails(row)" style="cursor:pointer;">{{row.Description}}<md-tooltip md-direction="top">{{row.Description}}</md-tooltip></span>
                    <span class="cell-style" flex="20" >{{row.FromItems}}<md-tooltip md-direction="top">{{row.FromItems}}</md-tooltip></span>
                    <span class="cell-style" flex="20">{{row.RemoveItems}}<md-tooltip md-direction="top">{{row.RemoveItems}}</md-tooltip></span>
                    <span flex="20" align="center">
                        <md-button class="md-fab md-mini md-primary  md-raised" ng-click="editHeader($event ,'HeaderDetailsPromos',row,'edit') " aria-label="EditPosInfo"><i class="fa fa-pencil fa-fw"></i>  <md-tooltip md-direction="top">Edit selected Header</md-tooltip></md-button>
                    </span>
                    <span flex="20" align="center">
                        <md-button class=" md-fab md-mini" ng-disabled="processingUser" ng-click='removeHeader(row)'><i class="fa fa-trash fa-fw"></i>  <md-tooltip md-direction="top">Delete selected Header</md-tooltip></md-button>
                    </span>
                </div>
            </div>
    </md-list>
</script>
<style>
    .cell-style {
        overflow: hidden;
        padding: 4px;
        text-overflow: ellipsis;
    }

    .selected-whiteframe {
        box-shadow: 0px 5px 5px -3px rgba(63, 81, 181, 0.2), 0px 8px 10px 1px rgba(63, 81, 181, 0.14), 0px 3px 14px 2px rgba(63, 81, 181, 0.12);
        border-left: 4px solid #3f51b5;
    }
</style>
<style>
    .btn {
        background-color: #4165f4; /*navy blue*/
        border: none;
        color: white;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 90%;
    }

    .editbtn {
        background-color: #4165f4; /*navy blue*/
        border: none;
        color: white;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 90%;
    }

    .RedCross {
        background-color: #ff0000; /*red*/
        border: none;
        color: white;
        padding: 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 90%;
    }

    .cell-style {
        overflow: hidden;
        padding: 4px;
        text-overflow: ellipsis;
    }

    .selected-whiteframe {
        box-shadow: 0px 5px 5px -3px rgba(63, 81, 181, 0.2), 0px 8px 10px 1px rgba(63, 81, 181, 0.14), 0px 3px 14px 2px rgba(63, 81, 181, 0.12);
        border-left: 4px solid #3f51b5;
    }
</style>
